@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4f;

    --fonte-primaria:  'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 100px;
    padding: 3% 0% 0% 5%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

a:hover {
    background-color: #303c3f;
    transform: scale(1.1);
    transition: all 0.5s;
  } 

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    gap: 82px;   
}

.div__apresentacao{
    width: 450px;
    height: 400px
}

.apresentacao__imagem {
    width: 100%;
    padding: 15% 0% 0% 19%;
    margin: 1% 1% 1% 1%;
}

.apresentacao__conteudo {
    width: 400px;
    height: 300px;
    justify-content: right;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0% 12% 0% 0%;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10% 0% 0% 9%;    
    }
    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }
    
    .apresentacao__conteudo {
        width: auto;
    }
}