@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4f;

    --fonte-primaria:  'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 100px;
    padding: 3% 5% 0% 5%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

a:hover {
    background-color: #303c3f;
    transform: scale(1.1);
    transition: all 0.5s;
  } 

.apresentacao {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;    
    gap: 82px;   
}

.apresentacao__conteudo {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 40px;
    padding: 4% 12% 0% 0%;
}

.apresentacao__imagem {
    width: 470px;
    height: 440px;
    padding: 15px 180px 50px 80px;
}

.div__apresentacao__texto{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 45px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: justify;
}

.apresentacao__link {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 24px;

}

.apresentacao__links {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}
.apresentacao__motivos {
    display: flex;
    justify-content: center;
}








.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

